.container {
  width: 500px;
}

.move {
  margin: 2rem;
  width: 150px;
  height: 10px 15px;
  background-color: red;
  color: #fff;
  line-height: 50px;
  text-align: center;
  border-radius: 0.5rem;
  font-size: 20px;
  transition-property: translate();
  transition-duration: 3s;
}

#ease {
  transition-timing-function: ease;
}
#linear {
  transition-timing-function: linear;
}
#ease-in {
  transition-timing-function: ease-in;
}
#ease-out {
  transition-timing-function: ease-out;
}
#ease-in-out {
  transition-timing-function: ease-in-out;
}

.move:hover {
  transform: translate(400px, 0);
}

body {
  perspective: 1000px;
}

.card {
  background: rebeccapurple;
  width: 300px;
  height: 300px;
  margin-left: 100px;
  transition: transform 1s;
}

.card:hover {
  transform: rotateX(50deg);
}
